.profileList {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.imageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.milo {
    width: 30%;
    margin: 30px 0;
}

.piggyBank {
    width: 35%;
    margin: 50px 0 20px 0;
}

.piggyBank:hover {
    background-color: #c7b9fc77;
    border-radius: 15px;
}

.recentActivity {
    margin: 50px 0 15px 0;
}

.recentTransactions {
    background-color: white;
    border: black 1px solid;
    padding: 0 20px;
    width: 85%;
}

.recentWithdrawalDiv {
    margin: 20px 0 50px 0;
}

.recentActivityTitles {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    width: 75%;
}

.recentActivityCard {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.recentColumn {
    width: 30%;
}

.activityButton {
    margin: 0 0 40px 0;
}