.profileList {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.imageDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.milo {
    width: 30%;
    margin: 30px 0;
}

.piggyBank {
    width: 35%;
    margin: 50px 0 20px 0;
}

.piggyBank:hover {
    background-color: #c7b9fc77;
    border-radius: 15px;
}

.recentActivity {
    margin: 40px 0 3px 0;
}

.recentTransactions {
    background-color: #c7b9fc77;
    border-top: 1px #5940b1 solid;
    border-bottom: 1px #5940b1 solid;
    border-radius: 15px;
    padding: 10px 10px 0 10px;
    width: 85%;
}

.recentWithdrawalDiv {
    margin: 0 0 50px 0;
}

.recentActivityTitles {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    width: 75%;
}

.recentActivityCard {
    display: flex;
    justify-content: space-between;
    border-top: 1px black solid;
    padding: 10px 0 5px 0;
}

.recentColumn {
    width: 30%;
}

.activityButton {
    margin: 0 0 40px 0;
}

.withdrawalTitles {
    margin: 20px 0 0 0;
}

.underline {
    text-decoration: underline;
}

.button {
    background-color: #5940b1;
    border-radius: 30px;
    color: white;
    font-size: 1.25em;
    padding: 10px;
}

.button:hover {
    background-color: #c7b9fc77;
    color: black
}

.button2 {
    background-color: #5940b1;
    border-radius: 30px;
    color: white;
    font-size: 1em;
}

.button2:hover {
    background-color: #c7b9fc77;
    color: black
}