.transactionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transactionFormDiv {
    margin: 15px 0 0 0;
}

.cancelButton {
    margin: 15px 0 0 5px;
}

.editDeleteButtonDiv {
    margin: 3px 0 15px 0;
    /* border-bottom: 1px black solid; */
    padding: 0 0 15px 0;
}

.editButton {
    margin: 0 5px 0 0;
}

.deleteButton {
    margin: 0 0 0 5px;
}