.quizSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 60px 0;
}

.quizTitle {
    text-decoration: underline;
    margin: 0 0 35px 0;
}

.quizForm {
    margin: 40px 0 0 0;
    width: 100%;
}

.question {
    display: flex;
    justify-content: center;
    margin: 0 0 75px 100px;
    width: 100%;
}

.questionArticle {
    width: 40%;
}

label {
    font-weight: 500;
    font-size: 1.4em;
    padding: 5px;
    margin: 0 0 0 10px;
}

.quizImgDiv {
    width: 60%;
    text-align: center;
}

.correctImg {
    width: 30%;
}

.incorrectImg {
    width: 50%;
    margin: 50px;
}

