.quizSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0 60px 0;
}

.quizTitle {
    text-decoration: underline;
    margin: 0 0 50px 0;
    font-size: 3.5em;
}

.quizForm {
    margin: 50px 0 0 0;
    width: 100%;
    padding: 0 0 0 20px;
}

.question {
    display: flex;
    justify-content: center;
    margin: 0 0 95px 100px;
    width: 100%;
}

.questionArticle {
    width: 40%;
    padding: 20px;
    background-color: #c7b9fc77;
    border-radius: 10px;
    border-left: 2px solid #5940b1;
    border-right: 2px solid #5940b1;
}

label {
    font-weight: 500;
    font-size: 1.4em;
    padding: 5px;
    margin: 0 0 0 10px;
}

input {
    cursor: pointer;
}

.quizImgDiv {
    width: 60%;
    text-align: center;
}

.correctImg {
    width: 30%;
}

.correctImg1 {
    margin: 30px 20px 30px 40px;
    width: 35%;
}

.correctImg2 {
    width: 26%;
}

.correctImg3 {
    width: 35%;
    margin: 30px 0;
}

.incorrectImg {
    width: 50%;
    margin: 30px 40px 30px 30px;
}

