body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1EDFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel-control-next {
  background-color: #beacffcd;
  border-radius: 10px;
}

.carousel-control-prev {
  background-color: #beacffcd;
  border-radius: 10px;
}

.progress-bar {
  background-color: #5940b1!important;
}

.progress {
  height: 2em;
  font-size: 1.1em;
}

