.learnSection {
    margin: 0 0 60px 0;
}

.imageDiv {
    margin: 33px 0;
}

.learnTitle {
    font-size: 2.5em;
}

.learnTitle2 {
    font-size: 3.5em;
}

.learnTitle3 {
    font-size: 1.5em;
}

.learnRow {
    padding: 20px 20px;
}

.learnCardBody {
    display: flex;
    margin: 8px 0 0 0;
    border-left: 3px solid #c7b9fc77;
    border-right: 3px solid #c7b9fc77;
    border-radius: 10px;
}

.learnHeader {
    text-align: center;
    padding: 0 0 15px 0;
}

.learnArticle {
    text-align: center;
}

.learnCoinImg {
    width: 30%;
    max-width: 33%;
    margin: 20px 5px;
    transition: transform .5s;
    cursor: pointer;
}

.learnCoinImg2 {
    width: 25%;
    margin: 0 20px;
    object-fit: contain;
}

.learnBillImg2 {
    width: 40%;
    margin: 0 20px;
    object-fit: contain;
}

.learnBillImg {
    width: 60%;
    padding: 15px 0;
    cursor: pointer;
}

.learnCoinImg:hover {
    transform: rotate(360deg)
}

.learnBillImg:hover {
    transform: scale(1.1);
    transition: all .4s ease-in-out;
}

.learnBlurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.quizPiggyArticle {
    border-radius: 10px;
    text-align: center;
    margin: 20px 0 0 0;
    cursor: pointer;
    padding: 20px 0 10px 0;
    margin: 25px 70px 0 70px;
    background-color: #c7b9fc77;
    border-left: 2px solid #5940b1;
    border-right: 2px solid #5940b1;
}

.quizPiggy {
    width: 10%;
    margin: 0 0 10px 0;
    cursor: pointer;
}
