.container--login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.loginFormSection {
    text-align: center;
    margin: 50px 0 0 0;
    width: 70%;
}

.loginLogo {
    width: 33%;
    margin: 0 0 20px 0;
}

.loginButton {
    margin: 20px 0 0 0;
}

.herokuWarning {
    margin: 10px 0;
}